*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0e1b;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.intro-section.fadeout {
  display: none;
}

.intro-section h1 {
  font-size: 3rem;
  font-family: ubuntu;
  font-weight: normal;
  color: whitesmoke;
  margin-bottom: 3rem;
}

.btn {
  font-size: 1.5rem;
  color: #fff;
  background-color: #0af;
  border: none;
  outline: none;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #1481b8;
}

.game-play {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.score-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.player-score,
.computer-score {
  text-align: center;
}

.player-score h3,
.computer-score h3 {
  margin-bottom: 0.5em;
}

.player-score p,
.computer-score p {
  font-size: 1.5rem;
}

.status h1 {
  font-family: ubuntu;
  font-weight: normal;
  font-size: 2.5rem;
}

.images-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.images-container img {
  border: 4px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
}
